@backgroundColor : #FFE622;

@keyframes clickAnim{
	from{
		transform: scale(1);
	}to{
		transform: scale(1.25);
	}
}

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.animation{
	will-change: transform scale;
	animation-name: clickAnim;
	animation-duration: 0.05s;
	animation-iteration-count: infinite;
}

.targetWrapper{
	width: 70%;
	height: 100%;
	display: inline-block;
	background-color: @backgroundColor;

	#target{
		width: 70%;
		margin: 5%;
	}
}

.sideBar{
	margin: 0;
	padding: 0;
	width: 30%;
	height: 100%;
	min-height: 100%;
	background-color: @backgroundColor;
	display: inline-block;
	float:right;
	.textWrapper{
		margin-top: 50%;
		text-align: center;
			#clickCount{
				color: #000;
			}
	}
}